body {
  margin:0;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
  font-weight: 400;
  color: #5e5e5e;
  font-style: normal;
}
h1,h2,h3,h4,h5 {
  font-weight: 400;
  color: #191919;
}

@media screen and (min-width: 450px) {
  body {
    background-color: rgba(149, 207, 255, 0.3);
  }
}